<nav class="container-nav" *ngIf="searchMode">
  <a routerLink="/home" class="losttrack-logo">
    <img src="./assets/LostTrack.svg" alt="Losttack" />
  </a>
  <div class="buttons">
    <button class="search-btn" (click)="toggleSearchMode()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="profile-btn" routerLink="/profile">
      <i class="fa-solid fa-user-gear"></i>
    </button>
  </div>
</nav>

<div *ngIf="!searchMode" class="search-box">
  <form class="form-container" [formGroup]="navform" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <input
        type="text"
        name="navuser"
        formControlName="navuser"
        placeholder="Search player name and TAG"
        id="input-name"
      />
      <select id="input-region" formControlName="navregion">
        <option value="" disabled selected>Region</option>
        <option value="ap">AP</option>
        <option value="br">BR</option>
        <option value="eu">EU</option>
        <option value="kr">KR</option>
        <option value="latam">LATAM</option>
        <option value="na">NA</option>
      </select>
    </div>
    <button type="submit" class="go-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button (click)="toggleSearchMode()" id="cross-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </form>
</div>
