<!-- Sacar td de asd reemplazar por {{item.user}} con ng for -->

<table class="abm-list-body">
  <thead class="abm-list-header">
    <tr>
      <th>Username</th>
      <th class="button-head">
        <span>Username</span>
      </th>
      <th class="button-head">
        <button mat-mini-fab aria-label="Button with plus simbol" style="background-color: #fa4454" (click)="createUser()">
          <mat-icon class="add-button">add</mat-icon>
        </button>
      </th>
    </tr>
  </thead>
  <tbody class="abm-list-content" *ngFor="let s of users; index as i">
    <tr class="abm-list-item">
      <td class="abm-list-item-content">
        <div class="abm-list-item-content-text">
          <span>{{ s.username }}</span>
        </div>
      </td>

      <td class="abm-list-item-content">
        <div class="abm-list-item-button-Update">
          <button
            class="abm-list-item-button-Update"
            name="update"
            value="update"
            (click)="updateUser(i)"
          >
            Update
          </button>
        </div>
      </td>
      <td class="abm-list-item-content">
        <div class="abm-list-item-button-Delete">
          <button
            class="abm-list-item-button-Delete"
            name="delete"
            value="delete"
            (click)="deleteUser(i)"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

