@import '~@fortawesome/fontawesome-free/css/all.css';

/* You can add global styles to this file, and also import other style files */
$spc-red: #fa4454;
$spc-head-blue: #364966;
$spc-darker-blue: #313d4e;
$button-green: #3cf84e;
$icon-color: #ACAFB2;
$text-font: 'Montserrat';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
