.container-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  .losttrack-logo {
    background-color: transparent;
    height: 100%;
    width: 50%;

    margin-left: 15px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    margin-right: 15px;
    button {
      background-color: transparent;
      border: none;
      padding: 14px;
    }
  }
}
.search-box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    align-items: center;
    width: 95%;
    .custom-search {
      position: relative;
      .custom-search-input {
        padding-right: 100px !important;
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      .custom-search-botton {
        position: absolute;
        color: black;
        height: 35px;
        width: 35px;
        right: 10px;
        top: 2px;
        bottom: 4px;
        line-height: 1 !important;
        z-index: 4;
        background-color: transparent;
        border: none;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
      }
    }
  }
}
