@import "src/styles.scss";

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $spc-head-blue;
  .losttrack-logo {
    height: 70%;
    margin-left: 15px;
    background-color: transparent;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 27%;
    margin-right: 15px;
    button {
      border: none;
      padding: 10px;
      font-size: 20px;
      background-color: transparent;
      color: $icon-color;
    }
    button:hover {
      color: $spc-red;
    }
  }
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $spc-head-blue;

  .search-form {
    display: flex;
    align-items: center;
    width: 95%;
    .custom-search {
      .custom-search-input {
        padding-right: 100px !important;
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        color: $icon-color;
      }
      .custom-search-botton {
        display: flex;
        position: absolute;
        color: $icon-color;
        height: 100%;
        right: 10px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        border-radius: 100%;
      }
    }
  }
}
