.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .losttrack {
    background-color: brown;
    height: 100%;
    width: 60%;

    img {
        height: 100%;
        width: 100%;
    }
    }
    button{
    background-color: transparent;
    border: none;
    }
}
.search-box {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    form{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    input {
        height: 30px;
        width: 90%;
        border-radius: 5px;
        border: 1px solid black;
        margin: 5px;
        padding: 10px;
    }
    }
}
